[Unit]
Description=Atlassian Stash
After=network.target

[Service]
Type=forking
User=stash
EnvironmentFile=-/etc/conf.d/stash
ExecStart=/opt/atlassian-stash/bin/startup.sh
ExecStop=/opt/atlassian-stash/bin/shutdown.sh

[Install]
WantedBy=multi-user.target
